.nav-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5em;
}

h1, .nav-container {
  border: solid;
}

h1, .saved-art, .home-page {
  margin-left: 1.5rem;
}

.saved-art, .home-page {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: #800F2F;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.saved-art:hover, .home-page:hover {
  background-color: #CA9B46;
}

.saved-art.active, .home-page.active {
  background-color: #CA9B46;
  color: black
  
}