.art-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.art-card {
  width: 300px;
  height: 360px;
  border: 1px solid black;
  margin-bottom: 20px;
  position: relative;
}

.image-container {
  flex: 1;
  justify-content: center;
}

.image {
  height: 18rem;
  width: 18rem;
}

.details-container {
  padding: 10px;
  text-align: center;
}